<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<style>
    h1 {
        text-align: center;
        margin-top: 50px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table td {
        white-space: nowrap; 
    }

</style>
<body>
    <h1>👥 All Users</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Phone</th>
                <th>Address</th>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{increment @index}}</td>
                <td>{{this.firstName}} {{this.lastName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.address}}</td>
                <td><a href="/admin/users/{{this._id}}">Edit</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
